.person {
    background-color: rgb(250, 219, 215);
    margin: 0;
    width: 70%;
    min-width: fit-content;
    padding: 2% 2% 2% 2%;
    display: flex;
    flex-wrap: wrap;
}

.team-person-list {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 450px;
}

.person-image {
    background-color: white;
    padding: 9px;
    object-fit: cover;
    width: 200px;
    height: 250px;
}

.person-bio-wrapper {
    margin-left: 6%;
    flex: 1 1 50%;
    min-width:  400px;
    background-color: lavender;
}


